.popup-view {
  border: 5px solid #00e080;
  background-color: #F2F2F2;
  align-content: space-around;
  padding: 2px;
}
.view-change-button {
  display: flex;
  padding: 3px;
  border: 3px solid #FC4D17;
  border-radius: 10px;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
}
.view-change-button-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: small;
  padding: 1px;
}
.duration-header {
  align-content: center;
  justify-content: center;
  padding: 5px;
  height: 40px;
}
.duration-header-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  padding: 5px;
}
.shrinked-view-container {
  padding: 5px;
  height: 40px;
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.shrinked-view-icon {
  position: relative;
}
.shrinked-view-time-spent-text {
  font-size: medium;
  text-align: center;
  position: relative;
  align-content: center;
  align-self: center;
  align-items: center;
}
.shrinked-view-time-spent-text-container {
  height: 40px;
  width: 70px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.shrinked-view-icon-container {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expanded-view-list {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
  scrollbar-width: thin;
  scrollbar-color: #FC4D17 transparent;
}
.expanded-view-list-container {
  max-width: 500px;
  padding: 5px;
  overflow: hidden;
  scrollbar-color: #FC4D17;
}
.expanded-view-tile-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 5px;
  height: 45px;
}
.expanded-view-icon-container {
  padding-left: 5px;
  padding-right: 5px;
}
.expanded-view-icon {
  width: 24px;
  height: 24px;
}
.expanded-view-domain-container {
  width: 300px;
  padding-left: 5px;
  padding-right: 5px;
}
.expanded-view-domain-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  cursor: pointer;
  text-decoration: none;
  background-image: linear-gradient(to right, #FC4D17, #FC4D17);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 10% 1px;
  transition: background-size .5s ease;
}
.expanded-view-domain-text:hover {
  background-size: 50% 1px;
}
.expanded-view-time-spent-text-container {
  width: 100px;
  padding-left: 5px;
  padding-right: 5px;
}
.expanded-view-time-spent-text {
  font-size: medium;
  font-weight: bold;
}
